body
{
    background-image: url("bg.jpg");
    background-size: cover;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#160272 ;
    color: white;
  }
  .heading 
  {
    color : #160272;
    font-size: 2vw;
    width : 100%;
    text-align: center;
  }