.logout
{
    background-color: white;
    color : #160272;
    border-color: white;
    border : solid 0.2vw;
    border-radius: 1.5vw;
}
body
{
    background-image: url("bg.jpg");
    background-size: cover;
}
#select_quiz
{
    width : 100%;
}
.container
{
    width :100%;
    display :flex;
    flex-direction: row;
}
#quizname
{
    width : 40%;
    height: 5%;
    margin : 2%;
}
#submtbtn1
{   margin : 2%;
    width : 20%;
    height : 5%;
    color : white;
    background-color:#160272;
    border : solid;
    border-color:  #160272;
    border-radius : 1vw;
    font-size: 1.2vw;
}
#question
{
    color : #160272;
    font-size: 2vw;
}
#op1, #op2 , #op3, #op4
{
    color : #160272;
    font-size: 1.6vw;
}
#submtbtn1:hover
{
    background-color: white;
    color : #160272;
    cursor : pointer;
}
.qcontainer
{   display: flex;
    flex-direction: column;
    height: 100%;
    width : 100%;
    align-items: center;
    justify-content: center;
}
.btnsbmt
{   margin : 2%;
    width : 80%;
    height : 8%;
    color : white;
    background-color:#160272;
    border : solid;
    border-color:  #160272;
    border-radius : 1vw;
    font-size: 1.2vw;
    margin : 1%;
}
.btnsbmt:hover
{
    background-color: white;
    color : #160272;
    cursor : pointer;
}
#end_quiz
{   margin : 2%;
    width : 20%;
    height : 5%;
    color : white;
    background-color:#160272;
    border : solid;
    border-color:  #160272;
    border-radius : 1vw;
    font-size: 1.2vw;
}
#end_quiz:hover
{
    background-color: white;
    color : #160272;
    cursor : pointer;
}