<html>
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
</head>
    <body>
            <form action="/" method="POST">
                <button type="submit" class= "logout"> Logout </button>
            </form>
        <div class="container">

        <div class="title">
                {{title}}
        </div>
        <div class="logsign">
            <div class="linker"><a class = "linkk" href = "/leaderboard">LeaderBoard</a></div>
            <div class="linker"><a class = "linkk" href= "/quizboard">PlayQuiz!!</a></div>
        </div>
        
        </div>
    </body>
</html>