<html>
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
    
</head>
    <body>
        <div class="container">

        <div class="title">
                {{title}}
        </div>
        <div class="logsign">
            <div class="linker"><a class = "linkk" href = "/login">Login</a></div>
            <div class="linker"><a class = "linkk" href= "/signup">Signup</a></div>

        </div>
        
        </div>
    </body>
</html>